.mainbody {
    background-color: #fdf6ec;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headings {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    font-size: larger;
    font-weight: bold;
}    
.list {
    font: 100;
    color: rgb(182, 187, 193);
    list-style-type: circle;
}
.nav-link {
    color: rgb(84, 152, 171);
}
.bold {
    font-weight: bold;
}
.paragraphs {
    text-align: center;
}